{% extends 'layout.html' %}

{% block body %}
    <div class="edit_item">
        <br><br><h1>Edit the task</h1><br>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="">
            <div class="form-group">
            {{ render_field(form.title, class_="form-control") }}
            </div>
            <div class="form-group">
            {{ render_field(form.body, class_="form-control", id="editor") }}
            </div><br>
            <p><input class="btn btn-primary" type="submit" value="Edit changes">
        </form>
    </div>
  
{% endblock %}